body, .body {
    background-color:#DFE8F6;
}
.body { /* fix for FF 3.5 */
    position:fixed;
    width:100%;
    height:100%;
}

.header {
    color:#003399;
    font-size:180%;
    margin-top:10px;
    margin-left:14px;
    float:left;
}

a {
    color:#3764A0;
    text-decoration:none;
}

a:hover {
    color:#15428B;
}

/* Loading mask */
#loading-mask {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:#DFE8F6;
}

/* Navigation */
#navigation .x-panel {
    margin-bottom:5px;
}
#navigation .x-panel-body li {
    margin:3px;
}

#navigation .x-panel-body li img {
    height:16px;
    margin-bottom:2px;
    margin-right:5px;
    vertical-align:middle;
    width:16px;
}

/* Form */
.form-comments-selectbox {
    margin-bottom:48px;
}

/* ExtJs Overwrites */
.x-panel-footer {
    border-color:#99BBE8;
    border-style:solid none none;
    border-width:1px 0;
}

.x-window-header-text {
    cursor:default;
}

/*
 * Ext JS Library 3.0 RC2
 * Copyright(c) 2006-2009, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

/*
 * FileUploadField component styles
 */
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
    position: absolute;
    right: 0;
    -moz-opacity: 0;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
    position: absolute;
    right: 0;
    z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}
/* Icons */
.icon-form {
    background-image:url('../images/form.png') !important;
}
.icon-table {
    background-image:url('../images/table.png') !important;
}
.icon-user {
    background-image:url('../images/user.png') !important;
}
.icon-home {
    background-image:url('../images/home.png') !important;
}
.icon-userkey {
    background-image:url('../images/user_key.png') !important;
}
.icon-add {
    background-image:url('../images/add.png') !important;
}
.icon-remove, .icons-delete {
    background-image:url('../images/delete.png') !important;
}
.icon-edit, .icon-pencil {
    background-image:url('../images/pencil.png') !important;
}
.icon-refresh {
    background-image:url('../images/refresh.png') !important;
}
.icon-keygo {
    background-image:url('../images/key_go.png') !important;
}
.icon-lock {
    background-image:url('../images/lock.png') !important;
}
