/*
 * FileUploadField component styles
 */
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
    position: absolute;
    right: 0;
    -moz-opacity: 0;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
    position: absolute;
    right: 0;
    z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}body, .body {
    background-color:#DFE8F6;
}
.body { /* fix for FF 3.5 */
    position:fixed;
    width:100%;
    height:100%;
}

.header {
    color:#003399;
    font-size:180%;
    margin-top:10px;
    margin-left:14px;
    float:left;
}

a {
    color:#3764A0;
    text-decoration:none;
}

a:hover {
    color:#15428B;
}

/* Loading Mask */
#loading-mask {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:20000;
    background-color:#DFE8F6;
}

/* Navigation */
#navigation .x-panel {
    margin-bottom:5px;
}
#navigation .x-panel-body li {
    margin:3px;
}

#navigation .x-panel-body li img {
    height:16px;
    margin-bottom:2px;
    margin-right:5px;
    vertical-align:middle;
    width:16px;
}

/*
.x-panel-footer {
    border-color:#99BBE8;
    border-style:solid none none;
    border-width:1px 0;
}

.x-window-header-text {
    cursor:default;
}*/.icon-home {
    background-image:url('../../../static/Icons/house.png') !important;
}
.icon-form {
    background-image:url('../../../static/Icons/form.png') !important;
}
.icon-table {
    background-image:url('../../../static/Icons/table.png') !important;
}
/* User */
.icon-user {
    background-image:url('../../../static/Icons/user.png') !important;
}
.icon-user-add {
	background-image:url('../../../static/Icons/user_add.png') !important;
}
.icon-user-remove, .icon-user-delete {
	background-image:url('../../../static/Icons/user_delete.png') !important;
}
.icon-userkey {
    background-image:url('../../../static/Icons/user_key.png') !important;
}
/* Actions */
.icon-add {
    background-image:url('../../../static/Icons/add.png') !important;
}
.icon-remove, .icon-delete {
    background-image:url('../../../static/Icons/delete.png') !important;
}
.icon-edit, .icon-pencil {
    background-image:url('../../../static/Icons/pencil.png') !important;
}
.icon-refresh {
    background-image:url('../../../static/Icons/refresh.png') !important;
}

.icon-keygo {
    background-image:url('../../../static/Icons/key_go.png') !important;
}
.icon-lock {
    background-image:url('../../../static/Icons/lock.png') !important;
}
.icon-error {
    background-image:url('../../../static/Icons/error.png') !important;
}
