/* Icons */
.icon-form {
    background-image:url('../images/form.png') !important;
}
.icon-table {
    background-image:url('../images/table.png') !important;
}
.icon-user {
    background-image:url('../images/user.png') !important;
}
.icon-home {
    background-image:url('../images/home.png') !important;
}
.icon-userkey {
    background-image:url('../images/user_key.png') !important;
}
.icon-add {
    background-image:url('../images/add.png') !important;
}
.icon-remove, .icons-delete {
    background-image:url('../images/delete.png') !important;
}
.icon-edit, .icon-pencil {
    background-image:url('../images/pencil.png') !important;
}
.icon-refresh {
    background-image:url('../images/refresh.png') !important;
}
.icon-keygo {
    background-image:url('../images/key_go.png') !important;
}
.icon-lock {
    background-image:url('../images/lock.png') !important;
}