html, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 14px;
}

body {
  background-color: #4D6D8C;
}

a {
  color: #3764A0;
  text-decoration: none;
  outline: none;
}

a:hover {
  color: #15428B;

  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}

ul {
  margin: 0;
  padding-left: 15px;
}

h1, h2, h3, h4, h5, h6 {
    color: #3B5998;
}

h2 {
  font-size: 14pt;
}

table {
  border-collapse: collapse;
}

th {
  color: #3B5998;
}

td, th {
  text-align:center;
  padding: 5px;
}

input, textarea, select {
  outline: none;
  padding: 3px;
  border: 1px solid #3B5998;

  box-shadow: 0 0 4px transparent;
  -webkit-box-shadow: 0 0 4px transparent;
  -moz-box-shadow: 0 0 4px transparent;

  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid #62A7E3;

  box-shadow: 0 0 4px #62A7E3;
  -webkit-box-shadow: 0 0 4px #62A7E3;
  -moz-box-shadow: 0 0 4px #62A7E3;

  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}

img {
  box-shadow: 0 0 4px transparent;
  -webkit-box-shadow: 0 0 4px transparent;
  -moz-box-shadow: 0 0 4px transparent;

  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}

img:hover {
  box-shadow: 0 0 4px #62A7E3;
  -webkit-box-shadow: 0 0 4px #62A7E3;
  -moz-box-shadow: 0 0 4px #62A7E3;

  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}

table.grid td, table.grid th {
  border: 1px solid #3B5998;
}

.article {
    border-bottom: 1px solid #3B5998;
    margin-bottom: 5px;
}

.clear {
  clear: both;
}